{% extends "base.html" %}

{% block body %}


<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header text-center bg-primary text-white">
            <h4>პროდუქტის დამატება</h4>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <div class="mb-3 row" >
                    {{ form.name(placeholder=form.name.label.text) }}
                </div>

                <div class="mb-3 row">
                    {{ form.price(placeholder=form.price.label.text) }}
                </div>

                <div class="mb-3 row">
                    {{form.image(placeholder=form.image.label.text) }}
                </div>

                <div class="d-grid">
                    {{ form.submit(class = "btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
