<footer class="text-center py-3 mt-auto footer" style="background-color: lightblue;  margin-top: 30px;">
    <a href="https://www.facebook.com/profile.php?id=100077737788459" target="_blank"><img width="30" height="30" src="/static/media_logos/facebook.svg"></a>
    <a href="https://x.com/iok_ch" target="_blank"><img width="30" height="30" src="/static/media_logos/twitter-x.svg"></a>
    <a href="https://www.instagram.com/zura_chiokadze/" target="_blank"><img width="30" height="30" src="/static/media_logos/instagram.svg"></a>
    <p class="mb-0">© 2024 Hoopzone.</p>
    <a href="https://www.tbceducation.ge/">
        <img src="/static/tbc-logo.png" width="90" height="90" alt="TBC Logo">
    </a>
</footer>





